div{
    background-color: #0093E9;
    background-image: linear-gradient(0deg, #0093E9 0%, #80D0C7 50%, #ffffff 92%);
    text-align: center; 
    
}
/*estilo de foto de perfil*/
@media (min-width: 576px) {
    #fotodeperfil{ 
    width: 120%;
    box-shadow: 5px 5px 5px grey;
    left: 2%;
    top: 350px;

    }
  
}
@media (max-width: 575px) {
    #fotodeperfil{
    width: 20%;
    box-shadow: 5px 5px 5px grey;
    left: 2%;
    top: 350px;

    }
  
}

/*etiqueta de Nombre*/
h1{
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 0%;
}

h2{
    font-weight: lighter;
    font-size: 18px;
    margin-top: 12px;
    margin-left: 0%;
}