div{
    background: linear-gradient(    #4D6AFF 50% , #E6FFFF );
    text-align: center; 
}
/*estilo de foto de perfil*/
@media (min-width: 576px) {
    #fotodeperfil{
    position: absolute;
    width: 15%;
    border-radius: 100%;
    box-shadow: 5px 5px 5px grey;
    left: 2%;
    top: 350px;

    }
  
}
@media (max-width: 575px) {
    #fotodeperfil{
    position: absolute;
    width: 15%;
    border-radius: 100%;
    box-shadow: 5px 5px 5px grey;
    left: 2%;
    top: 350px;

    }
  
}

/*etiqueta de Nombre*/
#nombre{
    font-weight: bolder;
    margin-top: 40px;
    margin-left: 30%;
}