<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"> </div>
    <div class="col-lg-11">
        <ul>
             <li>
               <h1>Educación 1</h1> - <h3>(years)</h3>
             </li>
             <p>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate mollitia quos illum, a dolorem obcaecati officiis dicta quibusdam eum architecto quasi minima fugiat cumque nesciunt recusandae! Alias eligendi ut corrupti?
             </p>
        </ul>

        <ul>
           <li>
             <h1>Educación 2</h1> - <h3>(years)</h3>
           </li>
           <p>
             Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate mollitia quos illum, a dolorem obcaecati officiis dicta quibusdam eum architecto quasi minima fugiat cumque nesciunt recusandae! Alias eligendi ut corrupti?
           </p>
      </ul>

      <ul>
       <li>
         <h1>Educación 3</h1> - <h3>(years)</h3>
       </li>
       <p>
         Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate mollitia quos illum, a dolorem obcaecati officiis dicta quibusdam eum architecto quasi minima fugiat cumque nesciunt recusandae! Alias eligendi ut corrupti?
       </p>
  </ul>
</div>
