<div class="row">
    <h1>Proyectos realizados:</h1>
    <div class="contenedor"> 
          <div class="col-sm-12 col-md-7 col-lg-7">
           
            <ul>
              <li>
                <h1>App para Restaurante</h1> 
              </li>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate mollitia quos illum, a dolorem obcaecati officiis dicta quibusdam eum architecto quasi minima fugiat cumque nesciunt recusandae! Alias eligendi ut corrupti?
              </p>
         </ul>

          </div>
    </div>


</div>