<div class="row">
    <h1>Hard & Soft skills:</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
         [percent]="75"
         [radius]="100"
         [title]="'HTML'"
         [imageSrc]="'../assets/iconohtml.png'"
         [showImage]="true"
         [imageHeight]="80"
         [imageWidth]="80"
         [showUnits]="true"
         [titleColor]="'#002266'"
         [titleFontSize]="'35px'"
         [showSubtitle]="false"
         [outerStrokeWidth]="16"
         [innerStrokeWidth]="5"
         [outerStrokeColor]="'#002266 '"
         [innerStrokeColor]="'#80D0C7'"
         [animation]="true"
         [animationDuration]="1200"
  ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
         [percent]="72"
         [radius]="100"
         [title]="'javascript'"
         [imageSrc]="'../assets/iconojavascript.png'"
         [showImage]="true"
         [imageHeight]="80"
         [imageWidth]="80"
         [showUnits]="false"
         [titleColor]="'#002266'"
         [titleFontSize]="'35px'"
         [showSubtitle]="false"
         [outerStrokeWidth]="16"
         [innerStrokeWidth]="5"
         [outerStrokeColor]="'#002266'"
         [innerStrokeColor]="'#80D0C7'"
         [animation]="true"
         [animationDuration]="1200"
  ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
         [percent]="75"
         [radius]="100"
         [title]="'GitHub'"
         [showUnits]="false"
         [imageSrc]="'../assets/iconogithub.png'"
         [showImage]="true"
         [imageHeight]="80"
         [imageWidth]="80"
         [titleColor]="'#002266'"
         [titleFontSize]="'35px'"
         [showSubtitle]="false"
         [outerStrokeWidth]="16"
         [innerStrokeWidth]="5"
         [outerStrokeColor]="'#002266'"
         [innerStrokeColor]="'#80D0C7'"
         [animation]="true"
         [animationDuration]="1200"
  ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
         [percent]="80"
         [radius]="100"
         [title]="'css'"
         [showUnits]="false"
         [imageSrc]="'../assets/iconocss.png'"
         [showImage]="true"
         [imageHeight]="80"
         [imageWidth]="80"
         [titleColor]="'#002266'"
         [titleFontSize]="'35px'"
         [showSubtitle]="false"
         [outerStrokeWidth]="16"
         [innerStrokeWidth]="5"
         [outerStrokeColor]="'#002266'"
         [innerStrokeColor]="'#80D0C7'"
         [animation]="true"
         [animationDuration]="1200"
  ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
         [percent]="70"
         [radius]="100"
         [title]="'Idioma Ingles'"
         [imageSrc]="'../assets/iconohablar.png'"
         [showImage]="true"
         [imageHeight]="80"
         [imageWidth]="80"
         [showUnits]="false"
         [titleColor]="'#002266'"
         [titleFontSize]="'35px'"
         [showSubtitle]="false"
         [outerStrokeWidth]="16"
         [innerStrokeWidth]="5"
         [outerStrokeColor]="'#002266'"
         [innerStrokeColor]="'#80D0C7'"
         [animation]="true"
         [animationDuration]="1200"
  ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
         [percent]="90"
         [radius]="100"
         [title]="'pensar'"
         [showUnits]="true"
         [imageSrc]="'assets/iconopensar.png'"
         [showImage]="true"
         [imageHeight]="80"
         [imageWidth]="80"
         [titleColor]="'#002266'"
         [titleFontSize]="'35px'"
         [showSubtitle]="false"
         [outerStrokeWidth]="16"
         [innerStrokeWidth]="5"
         [outerStrokeColor]="'#002266'"
         [innerStrokeColor]="'#80D0C7'"
         [animation]="true"
         [animationDuration]="1200"
  ></circle-progress>
</div>